{% extends "base.html" %}

{% block content %}

    <div class="container-fluid p-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
            <div class="w-100">
                <h1 class="mb-0">Matt
                    <span class="text-primary">Mulligan</span>
                </h1>
                <div class="subheading mb-5">Sydney, Australia -
                    <a href="mailto:matt@mattmulligan.net">matt@mattmulligan.net</a>
                </div>
                <p class="lead mb-5">Python/Spark Software Engineer.
                    <br /> Passionate about producing high quality software products using TDD/BDD principals
                    <br />Focused on big data projects using Pyspark and Hadoop to deliver data driven solutions
                    <br />Keen advocate of CI/CD workflows and systems to improve quality and stability of solutions</p>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/matt-mulligan-948a01104/">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
            <div class="w-100">
                <h2 class="mb-5">Experience</h2>

                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Python/Spark Engineer</h3>
                        <div class="subheading mb-3">Westpac Banking Corporation</div>
                        <p>Part of the big data framework team, responsible for producing an ingestion/transformation
                            framework written in pyspark to enable our engineering project teams to efficiently process
                            big data pipelines to deliver real business value. Working as part of an agile team,
                            utilising Kanban methodologies and efficient request/knowledge systems using Atlasian Jira
                            and Confluence. Heaviliy involved in framework design to ensure code
                            reusability and efficiency. Focus on TDD/BDD principal to ensure quality of our solutions
                            maintained throughout product iterations.</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">May 2018 - Present</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Qlikview Technical Lead</h3>
                        <div class="subheading mb-3">Westpac Banking Corporation</div>
                        <p>Technical lead for Westpac's Qlikview data visualisation platforms within the bank.
                            Gained experience in managing existing technology stacks but also standing up new
                            environments on cloud infrastructure. As a result became a keen evangilist of
                            Configuration as Code. Expertise provided to Qlikview developers on code quality and
                            performance of their applications while providing in-depth code reviews.</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">February 2017 - May 2018</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Technical Graduate - Westpac Graduate Program</h3>
                        <div class="subheading mb-3">Westpac Banking Corporation</div>
                        <p>Gained experience in multiple facets of technology development and management through a 2
                            year graduate program with Westpac. Rotations as an IT Business Analyst and Data Analyst in
                            experienced Agile Delivery and Operations teams.</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">February 2015 - February 2017</span>
                    </div>
                </div>

            </div>

        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
            <div class="w-100">
                <h2 class="mb-5">Education</h2>

                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">University of Technology Sydney</h3>
                        <div class="subheading mb-3">Bachelor of Science in Information Technology</div>
                        <div>Majors: Business Information Systems Management - Internetworking and Applications</div>
                        <p>Graduated with Distinction</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">February 2012 - September 2014</span>
                    </div>
                </div>

            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
            <div class="w-100">
                <h2 class="mb-5">Skills</h2>

                <div class="subheading mb-3">Programming Languages &amp; Tools</div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item">
                        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/icons/python_50.png" alt="">
                    </li>
                    <li class="list-inline-item">
                        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/icons/spark_50.png" alt="">
                    </li>
                    <li class="list-inline-item">
                        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/icons/hadoop_50.png" alt="">
                    </li>
                    <li class="list-inline-item">
                        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/icons/jira_50.png" alt="">
                    </li>
                </ul>

                <div class="subheading mb-3">Workflow</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Software Engineering Best Practises
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Modular, Documented Code, Built for Reuse
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Test Driven Development
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Behaviour Driven Development
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Cross Functional Teams
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Agile Development &amp; Scrum
                    </li>
                </ul>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
            <div class="w-100">
                <h2 class="mb-5">Interests</h2>
                <p>Apart from being a software engineer, I enjoy most of my time being outdoors. I'm a bit of a
                    sports fanatic, following and playing many sports such as cricket (NSW), rugby (Waratahs),
                    rugby league (Rabbitohs), baseball (Red Sox), NFL (Saints) and football (Tottenham) and more.</p>
                <p class="mb-0">I am also a gamer, as most software engineers tend to be, playing a variety of games
                    on most every platform. And as can be seen from my portfolio section, I tend to pick up some
                    program projects outside of my normal work to keep my skills sharp and to learn new languages
                    and concepts.</p>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="portfolio">
            <div class="w-100">
                <h2 class="mb-5">Portfolio of Work</h2>
                <p>Here is where I will upload and showcase some of the projects I have worked on, just need to get
                    around to doing a write up on each one. Stay Tuned!</p>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="blog">
            <div class="w-100">
                <h2 class="mb-5">Technical Blog</h2>
                <p>Here is where im planning on hosting some of the learnings I have gotten over my time in the
                    industry. Similarly to the portfolio I just need soem time to write them up. I have a few good
                    topics planed to cover including pitfalls of new software engineers series so stay tuned for
                    that!</p>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="learning">
            <div class="w-100">
                <h2 class="mb-5">Learning Resources</h2>
                <p>Here i will be posting some of the excellent books, youtube series and walkthrus I have found for
                    various topics.</p>
            </div>
        </section>

    </div>

{% endblock content %}